html {
    min-height: 100%;
    position: relative;
}
 
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: black;
}

header {
    text-align: center;
    height: 50px;
}

h2 {
    display: block;
}

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

.player {
    background-color: rgb(94, 219, 78);
    float: left;
    width: 45%;
    height: 35rem;
}

#player-image {
    width: 75%;
}

.computer {
    background-color: rgb(236, 109, 77);
    float: right;
    width: 45%;
    height: 35rem;
}

#computer-image {
    width: 75%;
}

#rps-buttons {
    padding-bottom: 10px;
}

p {
    font-size: x-large;
    letter-spacing: 0.2rem;   
}

#computers-choice, #player-choice, h4 {
    color:rgb(255, 255, 255);
    font-weight: 600;
    font-size: large;
    letter-spacing: 0.2rem;
}
