html {
    min-height: 100%;
    position: relative;
}
 
body {
    background-color:antiquewhite;
    font-family: "Raleway", sans-serif;
    color: black;
}

header {
    text-align: center;
    height: 50px;
    font-weight: 900;
    letter-spacing: 1px;
}

h2 {
    display: block;
    letter-spacing: 0.5px;
}

.game-area {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.control {
    display: inline-block;
    margin: 2px;
    height: 40px;
    background-color:white;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    width:100px;
    font-size: large;
}

.player {
    background-color: rgb(94, 219, 78);
    float: left;
    width: 45%;
    padding-bottom: 5%;
}

#player-image {
    width: 45%;
}

.computer {
    background-color: rgb(236, 109, 77);
    float: right;
    width: 45%;
    padding-bottom: 5%;
}

#computer-image {
    width: 45%;
}

.control:hover {
    background-color:rgb(228, 228, 228);
    cursor:pointer;
}

.control:active {
    background-color: rgb(80, 228, 117);
    color: white;
}

#rps-buttons {
    padding-bottom: 5px;
}

p {
    font-size: x-large;
    letter-spacing: 1px;
    font-weight: 600;  
}

#computers-choice, #player-choice, h4 {
    color:rgb(255, 255, 255);
    font-weight: 600;
    font-size: large;
    letter-spacing: 0.2rem;
}

footer {
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0%;
    background-color: black;
    color: white;
}

#rules {
    text-align: center;
    color: white;
    position: relative;
    font-size: x-large;
    margin-top: 1%;
}
.textroom {
   height: 25px; 
}
@media only screen and (max-width: 1200px) {
    footer {
        position: relative;
        margin-top: 300px;
    }
    #rules {
      font-size: medium;
    }
}
/*
@media only screen and (max-width: 1200px) {
    .player, .computer {
        min-height: auto;
    }
}
/*
@media only screen and (max-width: 600px) {
    #rules {
      font-size:medium;
    }
    footer > h5 {
        font-size: small;
    }
    .player {
        min-height: auto;
        max-height:auto ;
    }
    
    
  }
  @media only screen and (min-width: 801px) {
    footer > h5 {
      font-size: 30px;
      letter-spacing: 0.1rem;
    }
    
  }
  
